<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例 —— watch实现</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>

<!-- 
    computed 和 watch 之间的区别：
        1. computed能完成的功能，watch都可以完成；
        2. watch能完成的功能，computed不一定能完成，例如：watch可进行异步操作；
    两个重要小原则：
        1. 所有被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 实例对象
        2. 所有不被Vue所管理的函数（定时器、ajax、promethus等回调函数），最好写成箭头函数
        这样this的指向才是 vm 或 组件实例对象；
 -->

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="secondName"><br>
        全名：<span>{{fullName}}</span>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                secondName: '三',
                fullName: '张-三',
            },
        })

        // 这里不需要旧的值（oldValue）
        vm.$watch('firstName',{
            handler(val){
                // 要求等一秒再变 (computed属性中则无法开启异步任务)
                setTimeout(() => {
                    this.fullName = val + '-' + this.secondName
                }, 1000);
            }
        })

        vm.$watch('secondName',{
            handler(val){
                this.fullName = this.firstName + '-' + val
            }
        })
    </script>
</body>
</html>