<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例 —— 计算属性简写</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="secondName"><br>
        全名：<span>{{fullName}}</span>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                secondName: '三',
            },
            computed:{
            // 完整写法
                // fullName:{
                
                    // get(){
                    //     console.log("get被调用了")
                    //     return this.firstName + '-' + this.secondName
                    // },
                    // 确定你的计算属性不需要修改，才可以不用set()
                    // set(val){
                    //     console.log('set',value)
                    //     const arr = val.split('-')
                    //     this.firstName = arr[0]
                    //     for (i=1;i<len(arr);i++){
                    //         this.secondName = this.secondName + arr[i-1]
                    //     }
                    // }

            // 简写写法 (只有考虑读取，不考虑修改时，才可以使用！！！)
                fullName(){
                    console.log('get被调用了')
                    return this.firstName + '-' + this.secondName
                }
            },
        })
    </script>
</body>
</html>