<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例 —— methods方法实现</title>
    <!--引入Vue-->
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
    <!--准备容器-->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="secondName"><br>
        全名：<span>{{fullName()}}</span>
    </div>

    <script type="text/javascript">
        // 阻止 Vue 在启动时生成生产警告
        Vue.config.productionTip = false

        new Vue({
            el: '#root',
            data: {
                firstName: '张',
                secondName: '三',
            },
            methods:{
                fullName(){     // this就是vm实例，所以当然能直接用
                    console.log("@---") // 缺点：只要data一发生改变，就要调用该函数
                    return this.firstName+'-'+this.secondName
                }
            }
        })
    </script>
</body>
</html>